workdir/.ipynb_checkpoints
*.trashinfo
workdir/.Trash-0
workdir/libs/.ipynb_checkpoints
workdir/libs/__pycache__
workdir/projects/project_001/outputs
*.xlsx
workdir/projects/サンプル_プロジェクト/tmps
workdir/projects/サンプル_プロジェクト/docs/v0.0.1/001_サンプル/plantumls/*.png
workdir/projects/サンプル_プロジェクト/docs/v0.0.1/001_サンプル/plantumls/*.cmapx
workdir/projects/サンプル_プロジェクト/docs/v0.0.1/001_サンプル/plantumls/*.svg
*.ipynb_checkpoints
workdir/analysis/Test/Test
workdir/analysis/Test2/Test2
Test.zip
Test2.zip
sample_sheet.zip
workdir/analysis/Test2/sample_sheet
**/__pycache__/**
workdir/projects/サンプル_プロジェクト/sample_excels
workdir/projects/サンプル_プロジェクト/outputs/v0.0.2/001_サンプル
